body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: "https://img.freepik.com/premium-photo/clipboard-pencil-pink-background-notepad-icon-clipboard-task-management-todo-check-list-work-project-plan-concept-fast-checklist-productivity-checklist-3d-rendering_105386-2082.jpg";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
